<!DOCTYPE html>
<html ng-app = "Rails4AngularBaseApp">
<head>
  <title>Rails4AngularBaseApp</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application", controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
